@import "tailwindcss";

@theme {
  /* --color-primary: #ff94cb; */
  --color-primary: #ff7abd;
  --color-abu: #666666;
  --color-ungu: #e6e8ff;
  --color-lightPink: #ffe6f9;
  --color-yellow: #f2e688;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
